.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  color: #777;

  input,
  select {
    border: none;
    box-shadow: 0 0 5px #eee;
    border-radius: 5px;
    color: inherit;
  }

  &__search::before,
  &__select::after {
    font: var(--fa-font-solid);
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }

  &__search {
    min-width: 40rem;
    position: relative;

    input {
      padding: 1.5rem 5rem;
      width: 100%;

      &::placeholder {
        font-weight: 600;
        color: #aaa;
      }
    }

    &::before {
      content: "\f002";

      position: absolute;
      top: 45%;
      transform: translateY(-50%);
      left: 2rem;

      font-size: 1.6rem;
      color: #999;
    }
  }
  &__select {
    min-width: 20rem;
    position: relative;

    select {
      padding: 1.5rem 2rem;
      font-weight: 600;
      width: 100%;
      appearance: none;
    }

    &::after {
      content: "\f107";

      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 2rem;

      font-size: 1.6rem;
      color: #999;
    }
  }
}

@media screen and (max-width: 900px) {
  .actions {
    flex-direction: column;
    gap: 4rem;
    &__search {
      min-width: unset;
      width: 100%;
    }
    &__select {
      width: 50%;
    }
  }
}

.countries {
  display: grid;
  align-items: end;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  gap: 6rem;

  margin-top: 3rem;
}

@media screen and (max-width: 900px) {
  .countries {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}
